.floatingBtn{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 66px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right:10px;
    cursor: pointer; 
    background-color: #4CAF50;
    transform: unset !important;
}

.left{
    left:10px ;
    background-color: rgb(223, 1, 1);
}

.floatingBtn:hover{
    background-color: rgb(46, 192, 51);
}
.left:hover{
    background-color: rgb(190, 2, 2);
}

.user-name-div{
    position: fixed;
    left :30%;
    margin-top: 20px;
    font-size: 2.3em;
    transform: unset !important;
}

.nickName-div{
    font-size: 1.4em;
    position: fixed;
    margin-top: 70px;
    left: 45%;
    transform: unset !important;
}

.confirm-meeting{
    width: 400px;
    height:200px;
}

.res-card-btn{
    transform: unset !important;
}

.meet-heading-div{
    /* border-style: solid; */
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 20px;
}

.custom-swal-meeting{
    font-size: 1.1em;
}

@media(max-width:350px){
    .user-name-div{
        left: 24%;
    }
    .nickName-div{
        left: 40%;
    }
}
