.das-alert{
    font-size: 1.4em;
    width: 60%;
    text-align: center; 
    margin: 20px auto;
}

.das-meeting-btn{
    width: 180px;
    height: 55px;
    margin:0 auto;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    background-color: #FD3873;
    color: white;
    text-align: center;
    line-height: 55px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    /* border-color: rgb(245, 40, 102); */
}
.das-meeting-btn:hover{
    background-color: rgb(253, 33, 99);
    border-color: rgb(253, 33, 99);
}


@media(max-width:900px){
    .das-alert{
        width: 95%;
    }
}